<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<!-- 引入java属性文件（第一个） -->
	
	<!-- 通用设置：延迟加载、缓存、日志显示方式 -->
	<settings>
		<!-- 输出SQL语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	<!-- 定义类型别名 -->
	<typeAliases>
		<!-- 定义实体类所在的包 -->
		<package name="com.project.entity"/>
	</typeAliases>
	
	
</configuration>